.titulo {
  font-size: 1em;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}
.subtitulo{
  font-size: 1em;
  color: #333;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  
}